<!-- É assim que dizemos pro angular que isso é um formulario
    e atraves do ngModel com um nome associado ao campo de input
    falamos quais serao os valores passados para o formulario    -->
<div class="container">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <div class="form-group" [ngClass]="aplicaCssErro(nome)">

      <div class="col-sm-12">
        <label for="nome">Nome</label>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" [ngModel]="usuario.nome"
          required #nome="ngModel" [ngClass]="aplicaCssErro(nome)">


        <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
          Nome é obrigatorio
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(email)">

      <div class="col-sm-12">
        <label for="email">Email</label>
      </div>

      <div class="col-sm-12">
        <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com"
          [ngModel]="usuario.email" required email #email="ngModel" [ngClass]="aplicaCssErro(email)">

        <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
          Email invalido
        </div>
      </div>
    </div>

    <div class="form-row">

      <div class="form-group col-md-3" [ngClass]="aplicaCssErro(cep)">

        <label for="cep" class="control-label">CEP</label>
        <input type="text" class="form-control" id="cep" name="cep" ngModel required #cep="ngModel"
          [ngClass]="aplicaCssErro(cep)">

        <div *ngIf="!cep.valid && cep.touched" class="alert alert-danger" role="alert">
          CEP é obrigatorio
        </div>

      </div>

      <div class="form-group col-md-3" [ngClass]="aplicaCssErro(numero)">

        <label for="numero" class="control-label">Numero</label>
        <input type="text" class="form-control" id="numero" name="numero" ngModel required #numero="ngModel"
          [ngClass]="aplicaCssErro(numero)">

        <div *ngIf="!numero.valid && numero.touched" class="alert alert-danger" role="alert">
          Numero é obrigatorio
        </div>

      </div>


      <div class="form-group col-md-6">

        <label for="complemento" class="control-label">Complemento</label>
        <input type="text" class="form-control" id="complemento" name="complemento" ngModel #complemento="ngModel">

      </div>

    </div>

    <div class="form-group" [ngClass]="aplicaCssErro(rua)">

      <div class="col-sm-12">
        <label for="rua">Rua</label>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control" name="rua" id="rua" [ngModel]="usuario.rua" required readonly
          #rua="ngModel" [ngClass]="aplicaCssErro(rua)">


        <div *ngIf="!rua.valid && rua.touched" class="alert alert-danger" role="alert">
          Rua é obrigatorio
        </div>
      </div>
    </div>


    <div class="form-row">

      <div class="form-group col-md-5" [ngClass]="aplicaCssErro(bairro)">

        <label for="bairro" class="control-label">Bairro</label>
        <input type="text" class="form-control" id="bairro" name="bairro" ngModel required #bairro="ngModel"
          [ngClass]="aplicaCssErro(bairro)">

        <div *ngIf="!bairro.valid && bairro.touched" class="alert alert-danger" role="alert">
          Bairro é obrigatorio
        </div>

      </div>

      <div class="form-group col-md-4" [ngClass]="aplicaCssErro(cidade)">

        <label for="cidade" class="control-label">Cidade</label>
        <input type="text" class="form-control" id="cidade" name="cidade" ngModel required #cidade="ngModel"
          [ngClass]="aplicaCssErro(cidade)">

        <div *ngIf="!cidade.valid && cidade.touched" class="alert alert-danger" role="alert">
          Cidade é obrigatorio
        </div>

      </div>


      <div class="form-group col-md-3" [ngClass]="aplicaCssErro(estado)">

        <label for="estado" class="control-label">Estado</label>
        <input type="text" class="form-control" id="estado" name="estado" ngModel required #estado="ngModel"
          [ngClass]="aplicaCssErro(estado)">

        <div *ngIf="!estado.valid && estado.touched" class="alert alert-danger" role="alert">
          Estado é obrigatorio
        </div>

      </div>

    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>


    <app-form-debug [form]="f"></app-form-debug>

  </form>
</div>
<br><br><br><br><br><br><br><br><br><br>
<small>
  Caso precise so inicializar o input com um valor mas nao
  quer que o valor do objeto mude, utiliza o [ngModel]
  se quiser inicializar o valor do input e e modificar o
  objeto de acordo com que for digitado no input utiliza [(ngModel)]
</small>
