<!-- É assim que dizemos pro angular que isso é um formulario
    e atraves do ngModel com um nome associado ao campo de input
    falamos quais serao os valores passados para o formulario    -->
<form #f="ngForm" (ngSubmit)="onSubmit(f)" >
  <div class="form-group"
    [class.has-error]="!nome.valid && nome.touched"
    [class.has-feedback]="!nome.valid && nome.touched" >
    <label for="nome" >Nome</label>
    <input type="text" class="form-control" name="nome"
    id="nome" placeholder="Nome" [ngModel]="usuario.nome"
    required #nome="ngModel" [class.is-invalid]="!nome.valid && nome.touched">


    <div *ngIf="!nome.valid && nome.touched" class="alert alert-danger" role="alert">
      Nome é obrigatorio
    </div>
  </div>

  <div class="form-group"
    [class.has-error]="!email.valid && email.touched"
    [class.has-feedback]="!email.valid && email.touched" >
    <label for="email">Email</label>
    <input type="email" class="form-control" name="email"
    id="email" placeholder="nome@email.com" [ngModel]="usuario.email"
    required email #email="ngModel" [class.is-invalid]="!email.valid && email.touched">

    <div *ngIf="!email.valid && email.touched" class="alert alert-danger" role="alert">
      Email invalido
    </div>
  </div>

  <button type="submit" class="btn btn-primary"
    [disabled]="!f.valid">Submit</button>


    <app-form-debug [form]="f"></app-form-debug>

</form>

<br><br><br><br><br><br><br><br><br><br>
<small>
  Caso precise so inicializar o input com um valor mas nao
  quer que o valor do objeto mude, utiliza o [ngModel]
  se quiser inicializar o valor do input e e modificar o
  objeto de acordo com que for digitado no input utiliza [(ngModel)]
</small>
