<div class="container">
  <form [formGroup]="formulario" (ngSubmit)="onSubmit()" >
    <div class="form-group" [ngClass]="aplicaCssErro('nome')">

      <div class="col-sm-12">
        <label for="nome">Nome</label>
      </div>

      <div class="col-sm-12">
        <input type="text" class="form-control" formControlName="nome" id="nome" placeholder="Nome" >
        <div *ngIf="verificaValidTouched('nome')" class="alert alert-danger" role="alert">
          Nome é obrigatorio
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="aplicaCssErro('email')">
      <div class="col-sm-12">
        <label for="email">Email</label>
      </div>

      <div class="col-sm-12">
        <input type="email" class="form-control" formControlName="email" id="email" placeholder="nome@email.com">
        <div *ngIf="verificaValidTouched('email')" class="alert alert-danger" role="alert">
          Email obrigatorio
        </div>
        <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
          Email invalido
        </div>
      </div>
    </div>

      <div formGroupName="endereco">
        <div class="form-row">

          <div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.cep')">

            <label for="cep" class="control-label">CEP</label>
            <input type="text" class="form-control" id="cep" [ngClass]="aplicaCssErro('endereco.cep')"
            formControlName="cep" (blur)="consultaCEP()">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              CEP é obrigatorio
            </div>

          </div>

          <div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.numero')">

            <label for="numero" class="control-label">Numero</label>
            <input type="text" class="form-control" id="numero" [ngClass]="aplicaCssErro('endereco.numero')"
            formControlName="numero">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              Numero é obrigatorio
            </div>

          </div>

          <div class="form-group col-6">

            <label for="complemento" class="control-label">Complemento</label>
            <input type="text" class="form-control" id="complemento"
            formControlName="complemento">

          </div>

        </div>

        <div class="form-group" [ngClass]="aplicaCssErro('endereco.rua')">

          <div class="col-sm-12">
            <label for="rua">Rua</label>
          </div>

          <div class="col-sm-12">
            <input type="text" class="form-control" name="rua" id="rua" [ngClass]="aplicaCssErro('endereco.rua')"
            formControlName="rua">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              Rua é obrigatorio
            </div>
          </div>
        </div>


        <div class="form-row">

          <div class="form-group col-5" [ngClass]="aplicaCssErro('endereco.bairro')">

            <label for="bairro" class="control-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" [ngClass]="aplicaCssErro('endereco.bairro')"
            formControlName="bairro">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              Bairro é obrigatorio
            </div>

          </div>

          <div class="form-group col-4" [ngClass]="aplicaCssErro('endereco.cidade')">

            <label for="cidade" class="control-label">Cidade</label>
            <input type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')"
            formControlName="cidade">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              Cidade é obrigatorio
            </div>

          </div>


          <div class="form-group col-3" [ngClass]="aplicaCssErro('endereco.estado')">

            <label for="estado" class="control-label">Estado</label>
            <input type="text" class="form-control" id="estado" [ngClass]="aplicaCssErro('endereco.estado')"
            formControlName="estado">

            <div *ngIf="verificaEmailInvalido()" class="alert alert-danger" role="alert">
              Estado é obrigatorio
            </div>
          </div>

        </div>

      </div>

    <button type="submit" class="btn btn-primary" >Submit</button>
    <button class="btn " (click)="resetar()"  >Cancelar</button>


    <app-form-debug [form]="formulario"></app-form-debug>

  </form>
</div>
